.git
.gitignore
.env
**/.env
.env.*
**/.env.*
**/*.db
**/*.sqlite
**/*.sqlite3

node_modules
**/node_modules
**/.venv
**/.pytest_cache
**/__pycache__
**/*.pyc
**/debug
**/fastembed_cache
**/chroma
.cache
app_data
presentation-export
servers/fastapi/tests
servers/fastapi/presenton_backend.egg-info
servers/fastapi/.python-version
servers/fastapi/placeholder

servers/fastapi/tmp
servers/fastapi/debug
servers/fastapi/.venv

container.db
